clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

box-shadow(x,y,r,color)
	-webkit-box-shadow x y r color
	-moz-box-shadow x y r color
	-o-box-shadow x y r color
	box-shadow x y r color
	
